*.class
*.ctxt
**/doc
**/images

src/main/java/classes/PictureTest.java
src/main/java/classes/IntArrayWorker.java
src/main/java/classes/IntArrayWorkerTester.java

/build/

/.vscode/

/.gradle/

/.settings/
.classpath
.project

/bin/