*.class
*.ctxt
**/doc
**/images

src/main/java/classes/PictureTest.java
src/main/java/classes/IntArrayWorker.java
src/main/java/classes/IntArrayWorkerTester.java

/build/

/.gradle/

/gradle/
!gradle/wrapper/gradle-wrapper.jar